<h1>Lista de Grupos de perguntas</h1>

<br />


<div class="row">

  <div class="col-sm-12 col-md-9">

    <div cdkDropList class="example-list" (cdkDropListDropped)="dropChapter($event, listGroup$)">

      <div cdkDrag class="example-box" [id]="grupo.chapter.id"
      *ngFor="let grupo of listGroup$">

              <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header style="padding-left: 0.5em;
                  padding-right: 0.5em;">

                    <mat-panel-title>
                      {{ grupo.chapter.text }}
                    </mat-panel-title>

                    <mat-panel-description >
                    <p></p>

                      <!--Edita o flex-grow caso queira mais itens nassa barra-->
                      <mat-icon>
                        <button class="mat-icon-button btn-outline-light"
                        (click)="delete(grupo.chapter.id)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </mat-icon>

                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <h1>Perguntas</h1>
                  <div class="col-ms-12" cdkDropList class="example-list" (cdkDropListDropped)="dropQuestions($event, grupo.questions)">
                    <div cdkDrag *ngFor="let question of grupo.questions; let i = index" class="example-box">

                      <mat-expansion-panel>
                        <mat-expansion-panel-header style="padding-left: 0.5em;
                      padding-right: 0.5em;">
                          <mat-panel-title>
                            {{ question.typeQuestions }}
                          </mat-panel-title>
                          <mat-panel-description>
                            {{ question.text }}

                            <button class="mat-icon-button btn-outline-light"
                            (click)="delete(question.id)">
                              <mat-icon>delete</mat-icon>
                            </button>

                          </mat-panel-description>
                        </mat-expansion-panel-header>

                        <h1>Respostas</h1>
                        <div class="col-ms-12" cdkDropList class="example-list" (cdkDropListDropped)="dropAnswer($event, grupo.questions[i].listAnswer)">

                          <div cdkDrag class="example-box" [id]="answer.id"
                          *ngFor="let answer of grupo.questions[i].listAnswer">


                            <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header style="padding-left: 0.5em; padding-right: 0.5em;">

                                <mat-panel-title></mat-panel-title>

                                <mat-panel-description style="color: rgba(0,0,0,.54);">
                                  {{ answer.text }}


                                    <button class="mat-icon-button btn-outline-light"
                                    (click)="delete(answer.id)">
                                      <mat-icon>delete</mat-icon>
                                    </button>


                                </mat-panel-description>
                              </mat-expansion-panel-header>
                            </mat-expansion-panel>
                          </div>
                        </div>

                      </mat-expansion-panel>

                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>

      </div>





    </div>
  </div>


  <div class="col-sm-12 col-md-3">
    <h1>Regras</h1>
    <form action="/action_page.php">
      <div class="form-group">
        <label>Alterar tipo de pergunta: </label>
        <select class="form-control">
          <option>-</option>
          <option>Sim</option>
          <option>Não</option>
        </select>
      </div>

      <div class="form-group">
        <label >Alterar a estrutura da pergunta: </label>
        <select class="form-control" >
          <option>-</option>
          <option>Sim</option>
          <option>Não</option>
        </select>
      </div>

      <div class="form-group">
        <label >Regras de aplicação: </label>
        <div class="d-flex">
          <select class="form-control">
            <option>-</option>
            <option>Regra 1</option>
            <option>Regra 2</option>
            <option>Regra 3</option>
          </select>
          <button type="submit" class="btn btn-primary mb-2 ml-2">Add</button>
        </div>
      </div>

      <div class="form-group">
        <label>Regras de filtro: </label>
        <div class="d-flex">
          <select class="form-control">
            <option>-</option>
            <option>Regra 1</option>
            <option>Regra 2</option>
            <option>Regra 3</option>
          </select>
          <button type="submit" class="btn btn-primary mb-2 ml-2">Add</button>
        </div>
      </div>

      <div class="form-group">
        <label class="mr-sm-2">Range:</label>
        <div class="d-flex">
          <input type="number" class="form-control" placeholder="1" >
          <div class="ml-2 mr-2 pt-1"><p>A</p></div>
          <input type="number" class="form-control" placeholder="10" >
        </div>
      </div>

      <div class="form-group">
        <label  class="mr-sm-2">Limite de Caracteres:</label>
        <div class="d-flex">
          <input type="number" class="form-control" placeholder="1" >
          <div class="ml-2 mr-2 pt-1"><p>A</p></div>
          <input type="number" class="form-control" placeholder="10" >
        </div>
      </div>

      <div class="form-group">
        <label class="mr-sm-2">Numeros validos</label>
        <input type="text" class="form-control form-control">
      </div>

      <div class="form-group">
        <label class="mr-sm-2">Rodiziar</label>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" >Linha
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" >Coluna
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"  >SubCapitulo
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" >Perguntas capitulo
          </label>
        </div>
      </div>

      <h2 class="text-primary">Loop</h2>

      <div class="form-group">
        <label class="mr-sm-2">Break</label>
        <input type="text" class="form-control form-control">
      </div>

      <div class="form-group">
        <label class="mr-sm-2">Voltas definidas</label>
        <input type="text" class="form-control form-control">
      </div>

      <div class="form-group">
        <label>Interação com perguntas: </label>
        <select class="form-control">
          <option>Q2</option>
          <option>Q3</option>
          <option>Q1</option>
        </select>
      </div>

    </form>
  </div>
</div>
<br>
<br>







<style>

  button.romeFocus:focus{
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 25%) !important;
  }

  .btn-link:hover{
    color: #212529;
  }

  .btn-link{
    color: #212529;
    text-decoration:none;
  }

  .bord-person{
    border: groove;
    margin-right: 1em;
  }

</style>
