<br>
<mat-card>
  <mat-card-header>
    <mat-card-title >DropDown Dinamico</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
</mat-card>

<br>

<mat-card>
  <mat-card-header>
    <mat-card-title >Regras</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <form  [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <campo-dinamico formControlName="nome" [classCss]=cssErro
      [id]="'nome'" [label]="'Nome'" #nome [campoAbstract]="formulario.get('nome')"
      [listValue]="ListPessoas">
      </campo-dinamico>

      <div class="col-md-6 form-group">
        <label class="label">
          Quantidade
        </label>
        <input type="number" class="form-control" formControlName="amount" id="amount" name="amount" value="0" #amount
        (ngModelChange)="getAmount()">
      </div>

      <div class="col-md-6"  formArrayName="listDropDown">
        <div  *ngFor="let item of listDropDown.controls; let i = index">

          <campo-dinamico formControlName={{i}}
          [id]="listField[i]" [label]="listField[i]" [classCss]=cssErro
          [listValue]="ListPessoas" [campoAbstract]=listDropDown.controls[i]>
          </campo-dinamico>

        </div>
      </div>


      <div class="col-md-12">
        <button class="btn btn-success mr-3" type="submit" *ngIf="formulario.valid">Salvar</button>
        <button class="btn btn-primary mr-3" type="button" (click)="clearForm()" >Limpar</button>
      </div>


    </form>

  </mat-card-content>
</mat-card>

