

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 4.5rem;
  margin-bottom: 4.5rem;
}


.footer {
position: absolute;
bottom: 0;
width: 100%;
height: 3.5rem;
line-height: 3.5rem;
background-color: #ccc;
}

/*refatorando*/
.nav-link{

  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 1em;
  position: relative;
  height: inherit;
  cursor: pointer;
  /*color: rgba(255,255,255,.5) ;*/
  z-index: 999;
}

.nav-item{

  font-size: 16px;
  padding: 0;
  position: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 48px;
  display: block;

}

.nav-link:hover {
transition: all 0.4s;
}

.nav-link-collapse:after {
float: right;
content: '\f067';
font-family: 'FontAwesome';
}

.nav-link-show:after {
float: right;
content: '\f068';
font-family: 'FontAwesome';
}

.nav-item ul.nav-second-level {
padding-left: 0;
}

.nav-item ul.nav-second-level > .nav-item {
padding-left: 20px;
}


.sidenav{
  background: #343a40;
}

/*desktop*/
@media (min-width: 992px) {
  .sidenav {
    position: absolute;
    top: -2px;
    left: 0;
    width: 230px;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .navbar-expand-lg .sidenav {
    flex-direction: column;
  }

  .content-wrapper {
    margin-left: 230px;
  }

  .footer {
    width: calc(100% - 230px);
    margin-left: 230px;
  }

  /*Sobre escrevendo bootstrap*/
  .navbar-expand-lg .navbar-nav .nav-link {

    padding: 0 16px;
  }

  .margi-container{
    margin-top: 3.6em !important;
  }
}

/*tablet*/
@media (min-width: 348px) {

  .navbar-expand-lg .sidenav {
    flex-direction: column;
  }



  /*Sobre escrevendo bootstrap*/
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 16px;
  }

  .margi-container{
    margin-top: 3.6em !important;
  }


}

/*Sobre escrevendo classe css do ANGULAR MATERIAL*/

.mat-divider {
  border-top-color: rgb(151 170 231/ 11%);
}


.navbar-dark .navbar-nav .show>.nav-link{
  color: rgba(255,255,255,.75);

}

.navbar-dark .navbar-nav .nav-link.active{
  /*color: #fff !important;*/
  color: rgb(8 198 189 / 98%) !important;
}

.expansion-indicator::after {
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg );
  vertical-align: middle;
}

.expansion-indicator::after {
  color: rgba(0,0,0,.54);
}


/*criando*/
.margi-container{
  margin-top: 5.9em;
  min-height: 800px;
}

.second-level-nav{
  padding-left: 2.5em !important;
}


/*Seta*/
@import"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";


.seta .setaIcone{
  transition: all 0.5s !important;
}
.muda{
  transform: rotate(180deg) !important;
}
.setaIcone{
  color: #fff !important;
}
/*
i:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}*/
