
<!--

<div class="p-fluid p-formgrid p-grid" [formGroup]="form">
  <div class="p-field p-col-12 p-md-12">
      <label for="name">NOME DA ESCALA</label>
      <input id="name" formControlName="name" type="text" pInputText #name>
  </div>
  <div class="p-field p-col-12 p-md-7">
      <label for="qtd_day">QUANTOS DIAS TEM A ESCALA?</label>
      <input id="qtd_day" type="text" placeholder="0" pInputText ngModel formControlName="qtd_day"
          (change)="getAmount($event)" #qtd_day>
  </div>
  <div class="p-field p-col-12 p-md-6" formArrayName="shifts" >
      <div *ngFor="let item of form.get('shifts')['controls']; let i = index">
          <label for={{i}}>Dia {{1+i}}</label>
          <p-dropdown inputId={{i}} [options]="schedules" placeholder="Selecionar" optionLabel="description" [formControlName]="i">
          </p-dropdown>
      </div>
  </div>
  <div class="p-field p-col-12 p-md-12 buttons">
      <button pButton type="button" label="LIMPAR" (click)="clearForm()"></button>
      <button pButton type="button" label="SALVAR" (click)="method()"></button>
  </div>
</div>
-->
