<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de Graficos</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
</mat-card>

<br>
<!--
<google-chart [type]="myType" [data]="myData" class="grafico-config" >
</google-chart>


<google-chart [title]="chart.title" [type]="chart.type" [data]="chart.data" [columns]="chart.columnNames" [options]="chart.options">
</google-chart>
-->

<!--
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-line-chart>
-->
